/* main.css */
/* shared styles for multiple projects */

#gameArea {background-color:yellow;}
#gameArea:hover{cursor:crosshair;}
body{margin:0px;}
.hidden{display:none;visibility: hidden;}

.unselectable {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by all modern browsers */
}

.container {
    display: flex;
    justify-content: space-between;
    width:500px;
}
.left {
    margin-right: auto; /* Ensure it takes as much space as possible */
}
.right {
    
    /* Rely on flexbox to align this to the right */
}

.arrow-circle-padding{padding:10px;}
